.auth-form{
    margin-top: 8vh;
    background-color: white;
    padding:45px;

    .error{
        color: red;
        margin-bottom: 10px;
    }
    label{
        font-weight:400;
    }
    .phone{
        span{
            color:$color-pale-black
        }
    }

    button{
        background-color: #3C5778;
        font-size: 20px;
        color: white;
    }
    button:hover{
       background-color:$color-secondary-light;
    }
    .forgot-pwd{
        padding-bottom: 20px;
    }

}