.footer{
    position: relative;
    width:100%;
    height: 5vh;
    background-color: $color-secondary;
    text-align: center;
    p{
        margin-bottom: 0;
        padding:6px;
        color: white;
    }
}
