.top-nav{
    .navbar{
         background-color: $color-primary;
        .navbar-header{
            width: 10%;
            .navbar-brand{
                color:white;
                font-size: 2em;
                font-weight: bold;
                span{
                    font-size:0.7em;
                    font-weight:lighter;
                }
            }
        }
    }
}
