body,html{
    padding: 0;
    margin: 0;
    background-color:$color-grey;
    font-family:  Arial, Helvetica, sans-serif;
    min-height: 100%;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
  }
section{
    padding-top: 12vh
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    h1{
       letter-spacing: 2px;
       color:$color-black;
    }

  button{
    color:white;
    background-color:$color-secondary;
    border:0px;
    box-shadow: 3px 3px 5px #1b1b1b;
  }
  button:hover{
     color:white;
     background-color:$color-secondary-light;
 }

 @media only screen and (max-width: 500px) {
  h1{
  letter-spacing: 0;
  }
  button{
    padding:0 8px;
    font-size: 1em;
 }
}
 }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
input:focus, textarea:focus, select:focus, button:focus{
  outline: none;
}
.ant-page-header-heading{
  width: 100%;

  button{
    color:white;
    background-color:$color-secondary;
    border:0px;
    box-shadow: 3px 3px 5px #1b1b1b;
  }
  button:hover{
     color:white;
     background-color:$color-secondary-light;
 }
}

.ant-page-header-heading-title {
  font-size: 2em !important;
  letter-spacing: 2px;
  color:$color-black !important;
}