$color-grey:#eeecec;
$color-primary-light:#eea9a1;
$color-primary:#e78d83;
$color-secondary:#3C5778;
$color-secondary-light:#4D709A;;
$color-light-green:#8ce9f3d8;
$color-light:#e9bab4;
$color-pale-black:rgba(75, 72, 72, 0.507);
$color-black:rgba(0, 0, 0, 0.7);
